
$hieghtFavorites: calc(100vh - 610px);
$constHeightFavorites: calc(64px + 30px + 32px + 30px + 16px);


.favorites {
	// flex: 0 0 auto;
	margin: 0;
	min-height: 273px;
	height: $hieghtFavorites;
	
	&__title {
		margin: 0px 0px 32px 0px;

		font-size: 24px;
		font-weight: 500;
	}

	&__sorts {
		display: flex;
		flex-direction: row;
		gap: 8px;
		margin: 0px 0px 16px 0px;
		
	}

	&__sort {
		display: flex;
		flex-direction: row;
		padding: 4px 8px;
		color: #99A0A3;

		line-height: 20/14*1em;

		font-weight: 400;
		
		background: #FFFFFF;
		border: 1px solid #E5E5E5;
		border-radius: 4px;

		&:hover{
			cursor: pointer;
		}
	}

	&__items {
		min-height: calc(273px - $constHeightFavorites);
		height: calc($hieghtFavorites - $constHeightFavorites);	
	}

	&__item {
		margin: 16px 0px 0px 0px;
	}
}
.arrows{
	position: relative;
	margin: auto;
	margin-left: 9px;
}

.arrow {	
	position: relative;
	// position: absolute;
	
	width: 5px;
	height: 5px;
	
	border-bottom: 2px solid #99A0A3;
	border-right: 2px solid #99A0A3;
	
	
	&__up {
		transform: rotate(-135deg);
		top: 1.5px;
	}
	
	&__down {
		top: -1.5px;
		transform: rotate(45deg);
		// position: absolute;
	}
}

.sortActive{
	border-color: #41522E;
	color: #41522E;
}

