*{
	color: #424242;
	font-family: "Roboto";
}

body{
	margin: 0;
	background: #E5E5E5;
}

.header {
	display: flex;
	justify-content: space-between;
	
	min-width: 1048px;
	
	
	&__title {
		margin: 0;
		padding: 31px;

		font-size: 24px;
		line-height: 28/24*1em;
	}

	&__logout {
		margin: auto 0;
		padding-right: 36px;
	}
}

.logout {

	&__text {
		cursor: pointer;
		border: none;
		background-color: #e5e5e5;
		font-weight: 400;
		font-size: 16px;
		line-height: 20/16*1em;
	}

	&__img {
	}
}
