
.hotel {
	padding: 0px 0px 15px 0px;
	
	
	border-bottom: 1px solid rgba(135, 135, 135, 0.2);

	&:last-of-type{
		border: 0;
		padding-bottom: 0;
		
	}

	&__title {
		display: flex;
		justify-content: space-between;
	}

	&__name {
		font-size: 17px;
		font-weight: 300;
	}

	&__isFavorite {
		& svg{
			fill: white;
			stroke: #C4C4C4;
			stroke-linecap: round;
			troke-linejoin: round;

			transition: all 0.2s ease-out;

			// &:active{
			// 	fill: #e55858;
			// 	stroke: #e55858;
			// 	border: 0;
			// 	cursor: pointer;
			// }

			& 	:hover {
				fill: #EBEBEB;
				cursor: pointer;
			}
			
			&  .isFavorite__active {
				fill: #e55858;
				stroke: #e55858;
				border: 0;
				cursor: pointer;
			}

		}

	}


	&__dateInfo {
		margin: 0px 0px 7px 0px;

		display: flex;
		flex-direction: row;

		font-weight: 400;
		font-size: 14px;
		color: #878787;
		line-height: 22/17*1em;
	}

	&__date {
		color: inherit;
	}
		
	&__line{
		position: relative;
	
		margin: auto 15px;
		background: #C4C4C4;
		border-radius: 2px;
		height: 1px;
		width: 9px;
		// border: 1px solid #000;
	}
			
	&__qtyDays {
		color: inherit;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		
	}
	
	&__rating {
		display: flex; 
		gap: 4px;
		align-items: end;
		& svg{
			fill:#6C6845;
			fill-opacity:0.5
		}
	}

	&__price {

		& p{
			margin: 0;
			font-weight: 300;
			font-size: 11px;
			color: #878787;
			line-height: 11px;
		}

		& b{
			margin: 0px 0px 0px 15px;

			font-weight: 400;
			font-size: 17px;
			line-height: 17px;
		}
	}

	&__img{
		margin: auto 0;
		
		min-width: 64px;
		min-height: 64px;

		border-radius: 50%;
	}
}
