.searchform {

	&__item {
		font-size: 16px;

		margin: 0px 0px 16px 0px;
		&:last-of-type{
			margin: 0;
		}
	}

	&__title {
		margin: 0px 0px 7px 0px;
		
		line-height: calc(20 / 16)*1em;
		font-weight: 500;
	}
	
	&__field {
		box-sizing: border-box;
		
		width: 296px;
		height: 50px;
		padding: 0px 15px;
		
		font-weight: 300;

		border: 1px solid #C9CACC;
		border-radius: 4px;
	}

	&__btn{
		margin: 32px 0px 0px 0px;
		
	}
}