@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import "_Header";
@import "_FindForm";
@import "_Favorites";

.container {
	margin: 0 auto;
	
	max-width: 1048px;
}

.column {
	display: flex;
	flex-direction: row;
	gap: 24px;

	&__left {
		min-width: 360px;
		display: flex;

		flex-direction: column;
		gap: 24px;
	}

	&__right {
		// display: flex;
		flex: 1 1 auto;
	}
}

.btn {
	width: 296px;
	height: 50px;

	font-size: 16px;
	font-weight: 500;
	color: #fff;

	border: 0;
	border-radius: 4px;

	background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
	&:hover {
		cursor: pointer;
	}
}


.hotel {
	padding: 0px 0px 15px 0px;
	
	border-bottom: 1px solid rgba(135, 135, 135, 0.2);;

	&__title {
		display: flex;
		justify-content: space-between;
	}

	&__name {
		font-size: 17px;
		font-weight: 300;
	}

	&__isFavorite {
	}

	&__dateInfo {
		font-weight: 400;
		font-size: 14px;
		color: #878787;
	}

	&__date {
		color: inherit;
	}

	&__qtyDays {
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}

	&__rating {
	}

	&__price {

		& p{
			margin: 0;
			font-weight: 300;
			font-size: 11px;
			color: #878787;
		}

		& b{
			font-weight: 400;
			font-size: 17px;
		}
	}
}




.template {
	background: #fff;
	padding: 32px;
	border-radius: 16px;
}

.hotel {
}
